body {
    background-color: #4e7686;
}

/* 
.homepage {
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

                
.homepage:hover {
    color: #6807f9;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
} */

.container {
    margin-top: 2em;
    /* padding-top: 5em; */
    text-align: center;
    height: auto;

}
