body {
    background-color: #f5f5f5;
    margin-top: 2em;
}

.container {
    display: block;
    margin-top: 7em;
    text-align: center;
}

.homepage {
    color: black;
    display: inline-block;
    font-family: "Sofia|Allura" Montserrat, 'Times New Roman', Times, serif;
    font-size: 3.5em;
    text-decoration: none;
}

.homepage:hover {
    color: red;
    transition: 0.5s;
}

h1 {
    font-size: 2.5em;
}


.socialMedia {
    display: block;
    margin-top: 2em;
    padding: 15px;
}

.socialMediaIcons {
    width: 60px;
    height: 60px;    
}
