body {
  background-color: #323837;
  touch-action: auto;
}

.homepageLink {
  color: #acabe6;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.homepageLink:hover {
  color: #b35976;
  display: inline-block;
  text-align: center;
  cursor: grab;
}

.container {
  color: #acabe6;
  width: auto;
  height: 25em;
  text-align: center;
  padding: 1em;
}

.container0 {
  color: #acabe6;
  width: auto;
  height: 25em;
  text-align: center;
  padding: 1em;
}
