body {
  background-color: #495464;
  touch-action: auto;
}

.homepageLink {
  color: black;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.homepageLink:hover {
  color: white;
  display: inline-block;
  text-align: center;
  cursor: grab;
}

.container {
  color: black;
  width: auto;
  height: 25em;
  text-align: center;
  padding: 1em;
}
