/* Font of all text */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  text-align: center;
}

body {
  font-family: "Lato", sans-serif;
}

/* My Container */
.container {
  margin-top: 2em;
  padding: 15px 0;
  text-align: center;
}

/* Intro */
.intro {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 4em;
}

/* Introduction */
.myName {
  border: 0em;
  color: #df8931;
  font-family: "Allura";
  font-size: 50px;
  padding: 0em;
  margin: 0em;
}

/* Introduction text */
.job {
  border: 0em;
  color: white;
  font-family: "default";
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

/* Projects Link */
.projects {
  border: 0em;
  color: white;
  font-family: "default";
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

/* Projects Link On Hover */
.projects:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  text-decoration: none;
}

/* Download Resume Button */
.button {
  border-radius: 10px;
  background-color: #df8931;
  box-shadow: 0px 5px 10px 10px;
  color: black;
  font-family: "default";
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

/* Download Resume Button On Hover */
.button:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color {
  100% {
    background-color: black;
    color: #df8931;
  }
}
