body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  text-align: center;
}

body {
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

/* Wrapper for the Intro Code-Block */
.wrapper {
  padding-top: 5em;
  text-align: center;
}
/* Wrapper for Projects wrapper0 */
.wrapper0 {
  color: green;
  text-decoration-style: wavy;
}

/* Homepage Navigation */
#homepage {
  text-decoration: none;
  text-align: center;
}

/* Projects Page Background Color */
#projectBody {
  background-color: skyblue;
}

/* Pojects Page Container0 */
#projectsPageContainer0 {
  text-decoration-style: solid;
  text-decoration-color: red;
}

/* Intro */
#intro {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
}

/* Introduction */
#myName {
border: 0em;
color: #df8931;
font-family: "Allura";
font-size: 50px;
padding: 0em;
margin: 0em;
}

/* Introduction job text */
#job {
  border: 0em;
  font-family: "default";
  font-size: 28px;
  padding: 0em;
  position: relative;
  bottom: 30px;
  display: inline-block;
}

/* Projects Link */
#projects {
  border: 0em;
  color: white;
  font-family: "default";
  font-size: 28px;
  padding: 0em;
  margin: 0em;
  padding: 0em;
  text-decoration: none;
  display: inline-block;
}

/* Projects Link On Hover */
#projects:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

/* Download Resume Button */
#button {
  border-radius: 10px;
  background-color: #df8931;
  color: black;
  font-family: "default";
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  box-shadow: 0px 5px 10px 10px;
  display: inline-block;
}

/* Download Resume Button On Hover */
#button:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

/* SideNav Look */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* SideNav Open Look */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* SideNav Open Text Look */
.sidenav a:hover {
  color: #df8931;
}

/* CloseButton Look */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Hamburger Menu */
#main {
  transition: margin-left 10s;
  padding: 19px;
  position: absolute;
  top: 0;
}

@keyframes background-color {
  100% {
    background-color: black;
    color: #df8931;
  }

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .container {position: sticky; top: 0;}
}
